<div class="fast-web-container">
  <div class="landing-section">
    <div class="landing-section-left">
      <div class="landing-section-left-title">FAST.NET</div>
      <div class="landing-section-left-subtitle">A network you can depend on</div>
      <div class="landing-section-left-arrow">></div>
    </div>
    <div class="landing-section-right">
      <div class="landing-section-right-content">
        <div class="landing-section-right-content-description">
          Sign up to join our newsletter to know when we launch!
        </div>
        <div class="landing-section-right-content-form">
          <label for="firstName">First Name:</label>
          <input id="first_name" type="text">
          <label for="lastName">Last Name:</label>
          <input id="last_name" type="text">
          <label for="email">email address:</label>
          <input id="email" type="text">
          <button>Sign Up!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mission-section">
    <div class="mission-section-content">
      <div class="mission-section-content-title">What is FAST.NET?</div>
      <div class="mission-section-content-description">
        Fast.net is a cutting edge Internet Service Provider.
        Able to tailor to your needs wether business related or personal.
        We use flagship fiber optic technology to give you fast upload/download 
        times and a connection that won't quit! Covering multiple regions 
        throughout the US and plans for expansion!
      </div>
    </div>
  </div>
  <div class="pricing-section">
    <div class="pricing-section-title">Services Offered!</div>
    <div class="pricing-section-subtitle">
      Find the right plan for you! 
      We offer competitive pricing
      compared to companies like Google,
      and Spectrum. Your internet shouldn't be
      expensive or a hassel!
    </div>
    <div class="pricing-section-services">
      <div class="pricing-section-services-card card-1">
        <img src="../assets/images/1gigphoto.jpg" alt="">
        <div class="pricing-section-services-card-title">1Gigabit/s</div>
        <div class="pricing-section-services-card-subtitle">$50/mo</div>
        <ul class="pricing-section-services-card-list">
          <li class="pricing-section-services-card-list-item">Upload and download speeds up to 1gig/s</li>
          <li class="pricing-section-services-card-list-item">24/7 Support</li>
          <li class="pricing-section-services-card-list-item">Extremely Fast and Reliable Connection</li>
          <li class="pricing-section-services-card-list-item">Free 3 month Youtube TV Subscription</li>
        </ul>
      </div>
      <div class="pricing-section-services-card card-2">
        <img src="../assets/images/3gigphoto.jpg" alt="">
        <div class="pricing-section-services-card-title">3Gigabit/s</div>
        <div class="pricing-section-services-card-subtitle">$70/mo</div>
        <ul class="pricing-section-services-card-list">
          <li class="pricing-section-services-card-list-item">Upload and download speeds up to 1gig/s</li>
          <li class="pricing-section-services-card-list-item">24/7 Support</li>
          <li class="pricing-section-services-card-list-item">Extremely Fast and Reliable Connection</li>
          <li class="pricing-section-services-card-list-item">Free 3 month Youtube TV Subscription</li>
        </ul>
      </div>
      <div class="pricing-section-services-card card-3">
        <img src="../assets/images/5gigphoto.jpg" alt="">
        <div class="pricing-section-services-card-title">5Gigabit/s</div>
        <div class="pricing-section-services-card-subtitle">$100/mo</div>
        <ul class="pricing-section-services-card-list">
          <li class="pricing-section-services-card-list-item">Upload and download speeds up to 1gig/s</li>
          <li class="pricing-section-services-card-list-item">24/7 Support</li>
          <li class="pricing-section-services-card-list-item">Extremely Fast and Reliable Connection</li>
          <li class="pricing-section-services-card-list-item">Free 3 month Youtube TV Subscription</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="more-section">
    <div class="more-section-title">FAQ</div>
    <div class="more-section-accordian">


      <div class="more-section-accordian-item">
        <div class="more-section-accordian-item-question">
          <div>How do we compare to the competition?</div>
        </div>
        <div class="more-section-accordian-item-answer" id="anwer1">
          <div>
            FAST.NET offers the best pricing you'll find. The technology is not scarce,
            and materials are easily accessible. Companies like Google and Spectrum don't
            want you to know that, and charge a ridicoulus premiums.
          </div>
        </div>
      </div>

      <div class="more-section-accordian-item">
        <div class="more-section-accordian-item-question">
          <div>How is fiber installed?</div>
        </div>
        <div class="more-section-accordian-item-answer" id="anwer2">
          <div>
            During the appointment, the technician will install a small utility box called an 
            optical network terminal outside or inside your home. The tech will then run a cable 
            from a nearby equipment box to the ONT, which will carry the fiber-optic connection 
            from the larger network to your premises. 
          </div>
        </div>
      </div>

      <div class="more-section-accordian-item">
        <div class="more-section-accordian-item-question">
          <div>Why is Fiber better?</div>
        </div>
        <div class="more-section-accordian-item-answer" id="anwer3">
          <div>
            Fiber optic cable is better for data transmission over long distances than 
            cable's electrical signals. Fiber cables can carry much more bandwidth than 
            similarly sized copper cables and are immune to interference because there 
            are no electrical signals in use.
          </div>
        </div>
      </div>
     
      
    </div>

  </div>
</div>
